.info {
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-8x);
  color: #fff;
}

.infosmall {
  font-weight: 666;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  margin: auto auto 30px;
  max-width: 355px;
}

.wrapper {
  padding-top: var(--space-4x);
  max-width: 950px;
  margin-left: 16px;
  background-color: rgb(0 0 0 / 0.6);
  border-radius: 25px;
}

.container {
  padding: 0;
}
