.bg {
    padding: var(--space-8x);
    border-right: var(--space) solid var(--tone-1);
    background-color: #1111;
}

.split {
    display: flex;
    height: 100%;
}

.artwork {
    flex-grow: 1;
    background-image: url('../public/artwork_full.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 640px) {
    .split {
        flex-direction: column;
    }

    .bg {
        padding: var(--space-8x);
        border-right: none;
        background-color: #1111;
    }

    .artwork {
        visibility: hidden;
    }
}
